.topNav{
    padding: 10px 20px;
    width:100%;
    margin-left: 0px;
    background: rgba(0, 5, 75, 0.1);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: 'Poppins';

}
.topNav h1{
   margin-left: 3%;
   color: aliceblue;
   font-size: 40px;
   font-weight: 500;
   margin-right: 30%;
}
.topNav .navLinks{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-right: auto;
    /* position: relative; */
    
}
.menuToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.topNav .navLinks .link{
  
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 20px 10px;
    position: relative;
    
}
.topNav .navLinks 
.link:hover {
  color: #000000;
  cursor: pointer;
}
.link::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}
.link:hover::after {
    width: 100%;
  }
  .topNav .logo{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #e209ff;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #141414,
    #00e9e9,
    #000000,
    #00ffea,
    #000000,
    #000000,
    #000000
  ); 
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent; 
  animation: color-change 5s infinite linear; 

  }
 @media (max-width: 768px) {
    .topNav .navLinks {
      display: none;
    }
    .topNav h1{
        margin-left: 90px;
        font-size: 40px;
        font-weight: 400;
    }
  }
  @media (max-width: 768px) {
    .navLinks {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #444;
      padding: 10px;
      border-radius: 8px;
    }
  
    .navLinks.open {
      display: flex;
    }
  
    .menuToggle {
      display: block;
    }
  }