
.home {
    display: flex;
    font-family: 'Poppins';
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(to right, #d4e0ff, #a5c9ff);
  }
  
  .home-left-content {
    flex: 1;
    padding: 100px;
  }
  
  .home-right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-container {
    max-width: 600px;
  }
  
  .text h2 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 2rem;
    animation: slide-in 2s ease-out, glow 3s ease-in-out infinite alternate;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #4a90e2, 0 0 20px #4a90e2, 0 0 30px #4a90e2;
    }
    to {
      text-shadow: 0 0 20px #0047ab, 0 0 40px #0047ab, 0 0 60px #0047ab;
    }
  }
  
  .text h1 {
    font-size: 1.8rem;
    color: #3c3c3c;
  }
  
  .home h1 {
    margin-bottom: 50px;
    font-weight: 500;
  }
  
  .profile-container h3 {
    animation-delay: 0.5s; 
    font-size: 20px;
    color: #ffffff;
    font-weight: 520;
  }
  
  .resume-download .download-button {
    padding: 0.8rem 1.5rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    font-size: 1rem;
    animation: pop 2s ease-in-out infinite alternate;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .resume-download .download-button:hover {
    background-color: #333;
    transform: scale(1.1);
  }
  
  @keyframes pop {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  
  .media {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    animation: fade-in 2s ease-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .media .personal-links {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .media .personal-links:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .profile {
    width: 400px;
    height: auto;
    border-radius: 10px;
    animation: fade 2s ease-in-out infinite alternate;
  }
  
  .cursor {
    position: relative;
    width: 2em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 30px;
    font-weight: 700;
     text-align: center; 
    white-space: nowrap;
    overflow: hidden;
    background-image: linear-gradient(
        to right,
        #022724,
        #022724,
        #022724,
        #022724,
        #0000ff,
        #022724,
        #8f00ff
      ); 
      background-size: 10%;
      background-clip: text;
      -webkit-background-clip: text; 
      color: transparent; 
      animation: color-change 10s infinite linear; 
}

@keyframes color-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.typewriter-animation {
  animation: 
    typewriter 5s steps(100) 3s 1 normal both, 
    blinkingCursor 500ms steps(100) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
  @media (max-width: 1024px) {
    .home {
      flex-direction: column-reverse;
      text-align: center;
    }
  .home-left-content{
    margin-top: -100px;
  }
    .media{
        align-items: center;
        justify-content: center;
    }
    .profile {
        height: auto;
      width: 100%;
    }
  
    .text h2 {
      font-size: 4.5rem;
    }
  
    .text h1 {
      font-size: 1.5rem;
    }
    .typewriter-animation {
        animation: 
          typewriter 5s steps(100) 3s 1 normal both, 
          blinkingCursor 500ms steps(100) infinite normal;
      }
      @keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
      }
      @keyframes blinkingCursor{
        from { border-right-color: rgba(255,255,255,.75); }
        to { border-right-color: transparent; }
      }
      .home .home-right-content{
        z-index: 2;
        color: white;
      }
  }
  
  @media (max-width: 768px) {
    .text h2 {
      font-size: 4rem;
    }
  
    .text h1 {
      font-size: 1.2rem;
    }
  
    .media .personal-links {
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }
  
    .resume-download .download-button {
      padding: 0.6rem 1.2rem;
      font-size: 0.9rem;
    }
  
  .typewriter-animation {
    animation: 
      typewriter 5s steps(100) 3s 1 normal both, 
      blinkingCursor 500ms steps(100) infinite normal;
  }
  @keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }
  @keyframes blinkingCursor{
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent; }
  }
  .home .home-right-content{
    z-index: 2;
    color: white;
  }
  }

  
  @media (max-width: 480px) {
    .profile {
      width: 250px;
    }
  
    .text h2 {
      font-size: 1.8rem;
    }
  
    .text h1 {
      font-size: 1rem;
    }
    .typewriter-animation {
        animation: 
          typewriter 5s steps(100) 3s 1 normal both, 
          blinkingCursor 500ms steps(100) infinite normal;
      }
      @keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
      }
      @keyframes blinkingCursor{
        from { border-right-color: rgba(255,255,255,.75); }
        to { border-right-color: transparent; }
      }
      .home .home-right-content{
        z-index: 2;
        color: white;
      }
  }